{{> header}}

<p>Please fill the form to send a text message.</p>

<br />

<form action="/messages/send" method="post" class="well">
  <fieldset>

    <div class="control-group">
      <label class="control-label" for="message[firstName]">First Name</label>
      <input type="text" id="message[firstName]" name="message[firstName]" value="{{#if message}}{{message.firstName}}{{/if}}" class="span3" />
    </div>

    <div class="control-group">
      <label class="control-label" for="message[lastName]">Last Name</label>
      <input type="text" id="message[lastName]" name="message[lastName]" value="{{#if message}}{{message.firstName}}{{/if}}" class="span3" />
    </div>

    <div class="control-group">
      <label class="control-label" for="message[phoneNumber]">Phone Number</label>
      <input type="text" id="message[phoneNumber]" name="message[phoneNumber]" value="{{#if message}}{{message.phoneNumber}}{{/if}}" class="span3" />
    </div>

    <div class="control-group">
      <label class="control-label" for="message[action]">Message Type</label>
      <div class="controls">
        <select id="message[action]" name="message[action]">
          <option value="call">Voice Call</option>
          <option value="message">Text Message</option>
        </select>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="message[message]">Message</label>
      <textarea id="message[message]" name="message[message]" class="input-xlarge">{{#if message}}{{message.message}}{{/if}}</textarea>
    </div>

    <div class="control-group">
      <span class="help-block">All fields are mandatory.</span>
      <button class="btn btn-primary">Send Message</button>
    </div>

  </fieldset>
</form>

{{> footer}}